---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  author: {
    name: string;
    content: string;
    image: string;
  };
}

const { author } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,webp}",
);
if (!images[`/src/assets/${author.image}`])
  throw new Error(
    `"${author.image}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,webp}"`,
  );
---

<article class="author">
  <div class="author__image">
    <Image src={images[`/src/assets/${author.image}`]()} alt={author.name} />
    <a
      href="https://www.pascalhelleu.com/"
      class="author__image-copyright"
      target="_blank"
      rel="noopener"
    >
    Photographe : Pascal Helleu
    </a>
  </div>
  <div class="author__content" set:html={author.content} />
</article>

<style lang="scss">
  .author {
    overflow: hidden;
    max-width: 56rem;

    background-color: white;
    border-radius: var(--border-radius-m);
    box-shadow: var(--box-shadow-diffuse);

    &__image {
      position: relative;
      aspect-ratio: 1;

      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      &-copyright {
        position: absolute;
        bottom: var(--space-small);
        right: var(--space-small);
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        line-height: 1.7;
        text-decoration: none;

        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
      }

      &:hover {
        .author__image-copyright {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }

    &__content {
      padding: var(--space-small);
    }
  }
</style>
